/Practica_poo_variables_Juan_Jimenez/build/
/poo_lab3_juanjimenez/nbproject/private/
/poo_lab3_juanjimenez/build/
/Poo_lab5_juanjimenez/build/
/Poo_lab5_juanjimenez/nbproject/private/
/Evalucacion_2_JuanJimenez/nbproject/private/
/Evalucacion_2_JuanJimenez/build/
